<h1>Bookings#edit</h1>
<div class="position-relative m-3">
  <div class="col-12 col-md-6 offset-lg-3">
    <div class="bg-white rounded p-3 shadow">
      <%= simple_form_for [@venue, @booking] do |f| %>
        <%= f.input :start_date, as: :date, html5: true, input_html: { min: Date.current.to_s, id: 'start-date' } %>
        <%= f.input :end_date, as: :date, html5: true, input_html: { id: 'end-date' } %>
        <%= f.submit "Update", class: "btn btn-outline-dark" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var startDateInput = document.getElementById('start-date');
    var endDateInput = document.getElementById('end-date');

    startDateInput.addEventListener("input", function() {
      endDateInput.min = startDateInput.value;
      if (endDateInput.value < startDateInput.value) {
        endDateInput.value = startDateInput.value;
      }
    });
  });
</script>
