

body {
  background: rgb(243, 243, 243) !important;
}

.card {
  background: hsla(0, 17%, 98%, 0.938);
  color: rgba(12, 12, 12, 0.8);
  margin-bottom: 2rem;
  box-shadow: 0 0 10px rgba(48, 47, 47, 0.2);
}

.card-body {
  height: 100px;
  background: hsla(0, 17%, 98%, 0.938);
}
.card-img-top {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-img-top.venue-img {
  width: 100%;
  height: 300px;
}

.banner {
  height: 500px;
  object-fit: cover;
  width: 100%;

}
.card-img-top-banner-img {
  width: 100%;
  height: 100%;
    object-fit: cover;
    object-position: center;
}

h1 {
  font-size: 50px;
  font-weight: 450;
  background-image: radial-gradient(#553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: "times new romas", sans-serif;
}
